<div class="questions menu">
  <ul class = "questions_list">
    <li><a href="#Question1">Question 1 from category 1</a></li>
    <li><a href="#Question1">Question 2 from category 1</a></li>
    <li><a href="#Question1">Question 3 from category 1</a></li>
    <li><a href="#Question1">Question 4 from category 1</a></li>
    <li><a href="#Question1">Question 5 from category 1</a></li>
    <li><a href="#Question1">Question 6 from category 1</a></li>
    <li><a href="#Question1">Question 7 from category 1</a></li>
    <li><a href="#Question1">Question 8 from category 1</a></li>
  </ul>
</div>
